.app{
    /* text-align: center; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-grow: 1;
    align-items: center;
    margin-top: 100px;
}

.appTitle{
    text-align: center;
}
.searchbar{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
.search-searchResult{
    display: flex;
    flex-direction: column;
    
}
.search{
   
}
.shoppingCart{
    float: rigth;
}